<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <title>Document</title>
    
</head>

<body>
    <div id="navbar-placeholder"></div>
    <section class="my-5" id="awards">
        <div class="container position-relative " style="margin-bottom: 110px;">
            <div class="row my-5">
                <div class="col-12">
                    <h1 style="font-size: 40px; font-weight: 600;" id="awards_recongnition">Awards and Recognitions</h1>
                </div>
            </div>
            <div class="p-5 text-white rounded" style="background-color: #23368A;">
                <div class="text-justify   w-50 lg-w-100">
                    <h1 id="best_franchise">Best Local Franchise in Arabic Cuisine </h1>
                    <h3 id="expo"> Expo Dubai 2022</h3>
                </div>
            </div>
            <img id="award_img" src="../assests/images/Winner-Certificate-Raydan-1.webp"
                class="position-absolute top-0 end-0" alt="..." style="width: 400px; height: 400px;">
        </div>
        <div class="container mx-auto Awards" style="margin-bottom: 140px;">
            <div class="row gap-md-0" style="gap: 80px;">
                <div class="col-12 col-md-6">
                    <img src="../assests/images/Raydan-award-1024x704.webp" class="w-100 shadow-none bg-transparent"
                        alt="...">
                    <p id="hajj_appriciation">Thanks and appreciation from Bashayer Al Salam Hajj and Umrah Company for
                        the Hajj season of 1435
                        AH.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <img src="../assests/images/Raydan-award-1-1024x704.webp" class="w-100 shadow-none bg-transparent"
                        alt="...">
                    <p id="quran_appriciation">Thanks and appreciation from Al-Musaed Mosque in Qawizah district for
                        supporting the people of
                        the Qur’an to make its celebration a success for the year 1428 AH.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div id="inq-placeholder" class="mt-5"></div>
    <div id="footer-placeholder"></div>
    <script src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>