<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <footer class="footer" id="footer">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="text-end
                ">
                    <div class="download-app">
                        <p id="download_our_app" class="text-start text-black">Download our app</p>
                        <div class="app-buttons text-start">
                            <img src="../assests/images/AppStore.png" alt="App Store">
                            <img src="../assests/images/GooglePlay.png" alt="Google Play">
                        </div>
                    </div>

                    <div class="social-icons text-start">
                        <span class="text-black" id="raydan_food/">RaydanFood / </span>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>




                <div>
                    <div class="logo">
                        <img src="../assests/images/Raydan-logo-1-300x242.webp" alt="Raydan Logo">
                    </div>
                    <div class="rights">
                        <span id="rights">All rights reserved to Raydan Food Company</span> <strong
                            id="year">2023</strong>
                    </div>
                    <div class="developer">
                        <img src="../assests/images/Digitect-logo-Black-300x90.webp" alt="Digitect"> <span
                            id="digitec_text">Development
                            and
                            operation</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-pattern"></div>
    </footer>
    <script src="../script.js"></script>
</body>

</html>