<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <section class="section-container" id="inquiries-section">
        <div class="inquiry-box" style="min-height: 250px;">
            <h3 style="font-size: 45px; font-weight: 600;" class="mb-5" id="fi">For inquiries</h3>
            <div class="inquiry-info">
                <div style="font-size: 18px; font-weight: 200;" class="p-3"><a class="text-decoration-none text-white"
                        id="fi_email" href="mailto:info@raydan.com.sa">info@raydan.com.sa</a></div>
                <div style="font-size: 18px; font-weight: 200;" class="p-3"><a class="text-decoration-none text-white"
                        id="nv_nmber" href="tel:📞 92000043">📞
                        92000043</a>
                </div>
            </div>
            <img src="../assests/images/Frame-354.png" alt="Pattern" class="bg-pattern" style="pointer-events: none;">
        </div>

        <div class="newsletter-box" style="min-height: 250px;">
            <h3 style="font-size: 45px; font-weight: 600;" class="mb-5" id="join_news">Join our newsletter</h3>
            <div class="email-input">
                <input type="email" class="p-3" placeholder="e-mail" id="fi_mail_input">
                <button class="p-3" id="join_now">Join now</button>
            </div>
            <img src="../assests/images/Frame-354.png" alt="Pattern" class="bg-pattern " style="pointer-events: none;">
        </div>
    </section>
    <script src="../script.js"></script>
</body>

</html>