<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <title>Document</title>
    
</head>

<body>
    <div id="navbar-placeholder"></div>
    <div class="container my-5">
        <div class="row align-items-center">
            <!-- Right Section: Form -->
            <div class="col-md-6" id="joinus">
                <h2 class="fw-bold" id="join_us">Join us</span></h2>
                <p id="join_tean">Join the Redan team today!</p>
                <div class="form-container p-4 shadow rounded bg-white">
                    <h5 class="text-center fw-bold mb-4" id="enter_details">Please enter the following information</h5>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="the name" id="join_name_input">
                        </div>
                        <div class="mb-3">
                            <input type="tel" class="form-control" placeholder="Mobile number" id="join_tel_input">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="e—mail" id="join_email_input">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Job Title" id="join_job_input">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" id="d_cv">Download CV</label>
                            <input type="file" class="form-control" id="join_cv_input">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" id="send">send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 position-relative">
                <div class="background-image"></div>
            </div>
        </div>
    </div>
    <div id="inq-placeholder" style="margin-top: 100px;"></div>
    <div id="footer-placeholder"></div>
    <script src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>