<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <title>Document</title>
    
</head>

<body>
    <div id="navbar-placeholder"></div>

    <div class="container content-section my-5">
        <div class="row align-items-center ">

            <div class="col-md-6 text-justify">
                <h4 class="sub-title" style="color: #23368A;" id="most_imp_achievements">
                    The most important events and achievements during the year</h4>
                <p class="content-text" id="most_imp_achievements_p">
                    During the year 2023 AD, Redan witnessed many events and achievements, which we explain in the
                    following table:
                </p>
            </div>
            <div class="col-md-6 image-container text-end" id="news_img">
                <img src="../assests/images/customer-banner.webp" style="height: 300px; width: 420px;"
                    alt="Food Safety Image">
            </div>
        </div>
    </div>
    <div class="container my-5" id="news">
        <div class="events-header text-white text-center py-2">
            <h3 style="font-size: 15px;" id="events_achievements">Events and achievements during the year 2024 AD</h3>
        </div>
        <div class="events-list">
            <div class="row py-2 border-bottom">
                <div class="col-md-9" id="events_achievements1">
                    Redan Food Company announces the results of the Ordinary General Assembly Meeting (First Meeting)
                </div>
                <div id="events_achievements1_date" class="col-md-3 text-md-end text-primary">
                    24/02/2024
                </div>
            </div>
            <div class="row py-2 border-bottom">
                <div class="col-md-9" id="events_achievements2">
                    Redan Food Company announces the resignation of the Chairman of the Board of Directors and the
                    appointment of his deputy as Chairman of the Board
                </div>
                <div id="events_achievements2_date" class="col-md-3 text-md-end text-primary">
                    24/02/2024
                </div>
            </div>
            <div class="row py-2 border-bottom">
                <div class="col-md-9" id="events_achievements3">
                    Redan Food Company announces the appointment of a Board Member
                </div>
                <div id="events_achievements3_date" class="col-md-3 text-md-end text-primary">
                    24/10/2024
                </div>
            </div>
            <div class="row py-2 border-bottom">
                <div class="col-md-9" id="events_achievements4">
                    Redan Food Company invites its shareholders to attend the Ordinary General Assembly Meeting (First
                    Meeting) via modern technology
                </div>
                <div id="events_achievements4_date" class="col-md-3 text-md-end text-primary">
                    24/03/2024
                </div>
            </div>
            <div class="row py-2 border-bottom">
                <div class="col-md-9" id="events_achievements5">
                    Redan Food Company announces the opening of its new branch (Riyadh District Branch) in Jeddah
                </div>
                <div id="events_achievements5_date" class="col-md-3 text-md-end text-primary">
                    23/04/2024
                </div>
            </div>
        </div>
    </div>
    <div id="inq-placeholder"></div>
    <div id="footer-placeholder"></div>
    <script src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>