<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <title>Document</title>
   
</head>

<body>
    <div id="navbar-placeholder"></div>
    <section class="mission-vision-section" id="omvm">
        <div class="container small-container">
            <h2 style="font-size: 40px; font-weight: 600; font-family:sans-serif;" id="o_mv">Our mission and vision</h2>
            <div class="row align-items-center">
                <div class="col-md-6 content">
                    <h4 id="o_mv_m">Our message</h4>
                    <p id="o_mv_m1">Excellence in all products and services provided, while ensuring that customers’
                        desires are met.
                    </p>

                    <h4 id="o_mv_v">Our vision</h4>
                    <p id="o_mv_v1">Pioneers in the quality and excellence industry to provide Arabic foods according to
                        the latest
                        international methods.</p>
                </div>
                <div class="col-md-6 image-container bg-transparent  text-center">
                    <img src="../assests/images/VM.webp" class="shadow-none" alt="Food Sharing">
                </div>
            </div>
        </div>
    </section>
    <section class="container my-5 bg-transparent shadow-none">
        <div class="row align-items-start">
            <div class="col-md-5 mt-3 text-center mb-4 mb-md-0">
                <img src="../assests/images/Company-History-NEW-1024x704.webp" alt="Company Building"
                    class="img-fluid rounded ">
            </div>
            <div class="col-md-7 cmp" id="cmp">
                <div class="position-relative">
                    <h2 class="mt-4 position-relative z-1"
                        style="font-size: 30px; font-weight: 600; font-family:sans-serif;" id="company_objective">
                        Company objectives</h2>
                    <div class="position-absolute box-color" style="right: 410px; top: -15px;"></div>

                </div>
                <p id="company_objective1">

                    Redan Food Company aims to reach a leading position in the Saudi and Arab market by specializing in
                    Arabic food, sweets and parties. It is keen to provide unified services with high quality standards
                    in terms of time and place... From this standpoint, it seeks to achieve many goals, including:
                </p>
                <ol id="company_objective_list">
                    <li id="company_objective_list1">Focus on customer satisfaction, which is the goal of our work.</li>
                    <li id="company_objective_list2">Excellence in providing the highest level of quality.</li>
                    <li id="company_objective_list3">Excellence in providing the highest level of service and
                        hospitality.</li>
                    <li id="company_objective_list4">Expansion, spread and focus on the regions of the Kingdom first,
                        then the Arab region and then
                        the world.
                    </li>
                    <li id="company_objective_list5"> Developing employees and caring for and supporting national labor.
                    </li>
                    <li id="company_objective_list6"> Participating and contributing to building the national economy
                        and what serves the interests
                        of the homeland and achieving the 2030 vision for our country.</li>
                    <li id="company_objective_list7">Participating in supporting charitable works and projects as part
                        of our community services.
                    </li>
                </ol>
            </div>
        </div>
    </section>
    <div id="inq-placeholder"></div>
    <div id="footer-placeholder"></div>
    <script src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>