<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <title>Document</title>
   
</head>

<body>
    <div id="navbar-placeholder"></div>
    <div class="container content-section my-5" id="paties_banquet">
        <div class="row align-items-center ">

            <div class="col-md-6 text-justify">
                <h4 class="sub-title" style="color: #23368A;" id="p_b">Parties and banquets</h4>
                <p class="content-text" id="p_b_p">

                    Pioneers in the quality and excellence industry to provide Arabic foods according to the latest
                    international methods. Distinguished in all products and services provided, while being keen to meet
                    the desires of the work. We aim to reach a leading position in the local, regional and global
                    market, specializing in foods, preparing parties and providing food catering services, in order to
                    achieve its goals.
                </p>
            </div>
            <div class="col-md-6 image-container text-end" id="pq_img">
                <img src="../assests/images/Rice1.webp" style="height: 300px; width: 420px;" alt="Food Safety Image">
            </div>
        </div>
        <div class="row align-items-center my-5">
            <div class="col-md-6 image-container text-start" id="pq_img">
                <img src="../assests/images/Rice2.webp" style="height: 300px; width: 420px;" alt="Food Safety Image">
            </div>
            <div class="col-md-6 text-justify">
                <h4 class="sub-title" style="color: #23368A;" id="banquets">Banquets</h4>
                <p class="content-text" id="banquets_p">
                    Fully prepared for all invitations, banquets and events of all kinds, and providing the highest
                    standards of quality in cooking and service to meet the desires of our valued customers, with our
                    constant interest in taking into account our customers’ opinions to raise the level of quality and
                    service towards the best.
                </p>
            </div>
        </div>
        <div class="row align-items-center ">

            <div class="col-md-6 text-justify">
                <h4 class="sub-title" style="color: #23368A;" id="outdoor_parties">Outdoor parties</h4>
                <p class="content-text" id="outdoor_parties_p">
                    Our outdoor catering team comes to clients at home or work to transform their special occasion into
                    a memorable one with authentic and high-quality food and service, ensuring our clients are satisfied
                    with the levels of service provided according to the highest standards of quality.
                <ul id="outdoor_parties_list">
                    <li id="outdoor_parties_list1">Fully prepared to supply and provide ready-made meals to groups and individuals.</li>
                    <li id="outdoor_parties_list2">A team of professional chefs to provide the finest and most delicious authentic Arabic cuisine.
                    </li>
                    <li id="outdoor_parties_list3">
                        A fleet of delivery vehicles to cover and meet our customers anywhere in the cities where our
                        branches are located.</li>
                </ul>
                </p>
            </div>
            <div class="col-md-6 image-container text-end" id="pq_img">
                <img src="../assests/images/Rice1.webp" style="height: 300px; width: 420px;" alt="Food Safety Image">
            </div>
        </div>
        <div class="row align-items-center my-5">
            <div class="col-md-6 image-container text-start" id="pq_img">
                <img src="../assests/images/Rice2.webp" style="height: 300px; width: 420px;" alt="Food Safety Image">
            </div>
            <div class="col-md-6 text-justify">
                <h4 class="sub-title" style="color: #23368A;" id="list_of_oe_c">List of outdoor events and catering</h4>
                <p class="content-text" id="list_of_oe_c_p">
                    Fully prepared for all invitations, banquets and events of all kinds, and providing the highest
                    standards of quality in cooking and service to meet the desires of our valued customers, with our
                    constant interest in taking into account our customers’ opinions to raise the level of quality and
                    service towards the best.
                </p>
            </div>
        </div>
    </div>
    <div id="inq-placeholder"></div>
    <div id="footer-placeholder"></div>
    <script src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>