<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <title>Document</title>
   
</head>

<body>
    <div id="navbar-placeholder"></div>
    <div class="container content-section my-5" id="quality">
        <div class="row align-items-center ">

            <div class="col-md-6 text-justify">
                <h2 class="section-title" id="quality_foods">Quality and Food Safety</h2>
                <h4 class="sub-title" style="color: #23368A;" id="quality_safety">Food quality and safety concept</h4>
                <p class="content-text" id="quality_safety1">
                    Recent and new studies and research in the field of food science indicate that food safety is a
                    basic factor in avoiding many diseases that contribute to strengthening and building a healthy body
                    and a healthy mind. On the other hand, the United Nations organizations represented by food and
                    nutrition and the World Health Organization around the world indicate the importance of food safety,
                    and there are many concepts that express the quality characteristic in the field of food
                    manufacturing and food analysis.
                </p>
            </div>
            <div id="q_img_1" class="col-md-6 image-container text-end">
                <img src="../assests/images/Rice1.webp" style="height: 300px; width: 420px;" alt="Food Safety Image">
            </div>
        </div>
        <div class="row align-items-center my-5">
            <div class="col-md-6 image-container">
                <img src="../assests/images/Rice2.webp" style="height: 300px; width: 420px;" alt="Food Safety Image">

            </div>
            <div class="col-md-6 text-justify">

                <h4 class="sub-title" style="color: #23368A;" id="what_quality">What is quality?</h4>
                <p class="content-text" id="what_quality1">

                    Quality is defined as the sum of the characteristics and qualities that distinguish the individual
                    units of a compound and have a significant impact on determining the degree of acceptance by
                    consumers. Definitions of quality in food products are scattered, but for the descriptive evaluation
                    of food, they include a number of measures available through some devices and sensory properties.
                    The basic measure for evaluating the production cycle of food products is production and its
                    quantity. For the factory, the measure is based on the characteristics. For traders, the measure is
                    the shelf life of the product. For the consumer, the measure is its flavor properties, nutritional
                    value, and food safety.
                </p>
            </div>

        </div>
        <div class="row align-items-center ">

            <div class="col-md-6 text-justify">
                <h4 class="sub-title" style="color: #23368A;" id="quality_system1">Quality System</h4>
                <p class="content-text" id="quality_system1_p">
                    Identify the organizational structure, responsibilities, processes, and resources for implementing
                    quality management.
                </p>

                <h4 class="sub-title" style="color: #23368A;" id="quality_system2">quality control</h4>
                <p class="content-text" id="quality_system2_p">
                    Quality control which includes operational techniques, devices and activities developed to meet
                    quality requirements.
                </p>

                <h4 class="sub-title" style="color: #23368A;" id="quality_system3">Quality assurance</h4>
                <p class="content-text" id="quality_system3_p">
                    Plans and procedures are automatically required to provide sufficient confidence in the product or
                    service as required by the quality system.
                </p>

                <h4 class="sub-title" style="color: #23368A;" id="quality_system4">Quality Assurance Program Features
                </h4>
                <p class="content-text">
                <ol id="quality_system_list">
                    <li id="quality_system_list1">Saving sufficient time and analysis costs in the long term increases
                        the confidence of the
                        person performing the analysis.</li>
                    <li id="quality_system_list2">Ensuring that errors are resolved, identified and eliminated provides
                        a reference for errors and
                        complaints, which leads to continuous internal improvement.</li>
                    <li id="quality_system_list3">
                        Determining the training required to work in the analysis.</li>
                    <li id="quality_system_list4">Increase credibility and confidence in the work.</li>
                </ol>
                </p>
            </div>
            <div id="q_img_2" class="col-md-6 image-container text-end">
                <img src="../assests/images/Rice2.webp" style="height: 300px; width: 420px;" alt="Food Safety Image">
            </div>
        </div>
    </div>
    <div id="inq-placeholder"></div>
    <div id="footer-placeholder"></div>
    <script src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>