<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
    <link href="https://custom-cdn.com/ge-ss.css" rel="stylesheet">
    <title>Document</title>
  
</head>

<body>
    <div id="navbar-placeholder"></div>
    <div class="container content-section my-5">
        <div class="row align-items-center ">
            <div class="col-md-6 text-justify" id="responsibility">
                <h4 class="sub-title" style="color: #23368A;" id="s_responsibility">Social Responsibility</h4>
                <p class="content-text" id="s_responsibility_p">
                    Redan's role did not stop at achieving the desired success, but rather turned towards social
                    responsibility to present a wonderful role that confirms its keenness on community participation and
                    standing with the nation in achieving its dream of Saudization of jobs and making room for creative
                    youth to achieve their wish to obtain an honorable job. The group did not stop at opening up job
                    opportunities for Saudi cadres, but rather created a training program for the nation's sons, in a
                    desire to activate their capabilities and develop their talents so that they can be active members.
                </p>
            </div>
            <div class="col-md-6 image-container text-end" id="img">
                <img src="../assests/images/SR.webp" style="height: 300px; width: 420px;" alt="Food Safety Image">
            </div>
        </div>
    </div>
    <div id="inq-placeholder"></div>
    <div id="footer-placeholder"></div>
    <script src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>